<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.DriverDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/Theme.NePlaceCustomer" />
        <activity
            android:name=".activity.SupportChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreatePlanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CancelRideDialogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MapBoxActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BillingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditScheduleRideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThanksActivity"
            android:exported="false" />
        <activity
            android:name="com.neplace.neplacecustomer.inapppurchase.InappPurchaseScreen"
            android:exported="false" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/img_car" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <activity
            android:name=".activity.ScheduleRideReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePickUpTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".login.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ElitePlusActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DriveDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RatingDriverActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DriverAcceptanceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WaitingForDriverActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DriverSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllRidesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyReservationsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScheduleRideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SideMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookRideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SubscriptionPlansActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonalIdCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBue_Y6GdkBD4NshnYo-GAg7Ohn1yd_KLI" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.neplace.customer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>